@import url('font.css');
html {
  height: 100%;
}

body{
    font-size : 1.6rem;
    position:relative;
   
}

h1{
     font-size: 3.8rem;
    margin: 0;
}

.post h1, h2{
    font-family:'Viga-Regular';
}
p{
    font-family:"Roboto-Regular";
}
.post-content h1{
    font-size : 2rem;   
    padding-bottom: 0.1em;
    font-weight: bold;
}

main h2, h2.post-title{    
    font-size : 2.5rem;   
    border-bottom: 8px solid #EEE5D6;
    padding-bottom: 0.1em;
}

.post-content h2{
    font-size : 1.8rem;   
    padding-bottom: 0.1em;
    border-bottom: inherit;
}

h3{
     font-size: 1.6rem;
     font-family: Viga-Regular;
}

.post-content h3{
    font-size : 1.6rem;   
    text-transform: inherit;
    text-decoration: underline;
}

.post-content h4, .post-content h5, .post-content h6{
    font-size : 1.6rem;   
    text-transform: inherit;
}

label{
     font-size: 1.6rem;
}

section {
    margin-bottom: 2%;
}

body{
    position: relative;
}

form{
    margin-left: 0;
    margin-top: 1%;
}
img{
    width: 90%;
    height: auto;
}
@media (min-width: 992px) {
    img{
     width: inherit;
    }
}

.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.alignleft {
    margin: 12px 24px 12px 0;
    margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}
img.alignright {
    margin: 12px 0 12px 24px;
    margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}
img.aligncenter {
    margin-top: 12px;
    margin-top: 0.857142857rem;
    margin-bottom: 12px;
    margin-bottom: 0.857142857rem;
}
img.size-full,
img.size-large,
img.header-image,
img.wp-post-image {
    max-width: 100%;
    height: auto;
}
a {
	border-bottom-style: none !important;
}
/*-----------------------------------------------------------------------------------*/
/*-------------------------------------HEADER----------------------------------------*/
/*-----------------------------------------------------------------------------------*/

header h1{
    color: white;
    text-align: center;
}

header .logo img{
    width: 100%;
    max-width: 200px;
    height: auto;
}

header ul.menu { 
   float: right; 
}

header li { 
   display: inline; 
}

header #banniere
{
    padding: 0;
}

.aidons{
    margin: 206px auto;
    background: rgba(0,0,0,0.5);
    width: 60%;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 39px;
    background: rgba(0, 0, 0, 0.6);
    font-family:'Petrona-Regular';
}

@media screen and (max-width: 480px) {
.aidons{
    width:90%;
    font-size: 25px;
}
}
.topnav {
  overflow: hidden;
    position: relative;
    z-index: 2;
    background-color : rgba(0, 0, 0, 0.5);
}

.topnav ul{
  padding: 0;
}
.topnav li {
    float: left;
  display: block;
  text-align: center;
  padding: 14px 13px;
}

.topnav li a {
    color: white;
  text-decoration: none;
  font-size: 17px;
  font-family:"Viga-Regular";
}

.topnav li {
    background-color: black;
    text-transform: uppercase;
    text-align: center;
}

.topnav li.icon{
    background-color: inherit;
}

.topnav li:hover {
  background-color: #ddd;
}

/*.topnav li:hover a{
  color: black!important;
}*/

li.active:hover  {
 background-color: inherit;
}

.topnav .icon {
  display: none;
}

    
@media screen and (max-width: 991px) {
  .topnav li {display: none;}
  .topnav li.icon {
    display: block;
  }
  
    header ul.menu { 
       float: none; 
    }
}
@media screen and (max-width: 991px) {
    .topnav.responsive {
        position: relative;
    }
}
@media screen and (max-width: 991px) {
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
     }
     .topnav li.icon {
        position: absolute;
        right: 0;
        top: 0;
     }
     
    .topnav.responsive li {
        float: none;
        display: block;
        text-align: center;
        background-color: initial;
     }
     .topnav.responsive img{
         width:inherit;
     }
}

@media (min-width: 992px) {
    #menu-menu-de-base li, #menu-menu-vanglais li {
        background-color: inherit;
    }
    
   .topnav li:hover a{
      color: white;
    }

}

.black
{
    background-color : rgba(0, 0, 0, 0);;
} 
.black li a
{
    color:black;
}

.black li:hover a{
      color: black!important;
    }
/*-----------------RECHERCHE--------------------*/

header .field{
    width: auto;
}

#searchform{
    overflow: hidden;
    background-color: white;
    border-radius: 50px;
    margin: auto;
    width: 100%;
}

#searchform input:nth-of-type(1){
    width: auto;
}

#searchform input:nth-of-type(2){
    box-shadow: none;
    background-image: url(http://bevoluntary.org/wp-content/uploads/2018/01/search-icon.png);
    background-repeat:no-repeat;
}


#searchform input:nth-of-type(2) {
    background-color: transparent;
    background-image: url(http://bevoluntary.org/wp-content/uploads/2018/01/search-icon.png);
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: none;
    cursor: pointer;
    padding: 0 0 0 34px;
    position: relative;
    -webkit-transition: width 400ms ease, background 400ms ease;
    transition:         width 400ms ease, background 400ms ease;
    width: 0;
}
#searchform input:nth-of-type(2):focus {
    background-color: #fff;
    border: 2px solid #c3c0ab;
    cursor: text;
    outline: 0;
    width: 230px;
}

/*-----------------------------------------------------------------------------------*/
/*-------------------------------------MAIN------------------------------------------*/
/*-----------------------------------------------------------------------------------*/
main.row{
    width: 90%;
    margin: auto;
}
main{
     min-height:90vh;
}


/*-----------------LES COMMENTAIRES--------------------*/
#commentform p{
    width: 100%;
}

#commentform input.submit{
    color: black!important;
    text-decoration: none;
    background-color: #EEE5D6;
    font-size: 16px;
    text-transform:inherit;
    box-shadow: none;
    line-height: inherit;
    height: auto;
    padding: 7px 15px;
    margin-bottom: 2%;
    border-radius: 3px;
}
/*-----------------NAV--------------------*/
nav.presentation{
    position: relative;
    z-index:1;
    margin-bottom: 20px;
    margin-top: 20px;
}

nav.presentation p{
    text-align:center;
}

nav.presentation a{
    color : black;
}

nav.presentation ul {
   margin: 2% 0 0 0;
}

nav.presentation ul li {
    display: inline;
    width: 25%;
    text-align: center;
}

nav.presentation img {
    display: none;
    width: 100%;
    max-width: 220px;
}

@media (min-width: 992px) {
    nav.presentation img {
        display: inline;   
    }
}

/*-----------------SECTION ACTUALITES--------------------*/

section.actualites 
{
    position: relative;
}

section.actualites article img
{
    width: auto;
    overflow:hidden;
}

section.actualites .border
{
    background-color:#EEE5D6;
    text-align:center;
    overflow: hidden;
    height : 250px ;
    border-top : 10px solid #EEE5D6;
    border-bottom: 10px solid #EEE5D6;
    border-left:20px solid #EEE5D6;
    border-right:20px solid #EEE5D6;

}

section.actualites article
{
    padding: 0;
}


section.actualites article h3
{
    border: 1px solid black;
    text-align: center;
    padding: 3%;
}

section.actualites article h3 a:hover
{
    color: black!important;
    text-decoration: none;
}

section.actualites .knowMore 
{
    position: absolute;
    top : 1.8em;
    left: 0em;
}

section.actualites .knowMore p
{
    background-color: darkorange;
    color: white;
    width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-right: 5px;
}

section.actualites .knowMore p a{
    color: white;
}

section.actualites .knowMore p a:hover {
    color: white!important;
}

@media screen and (max-width: 480px) {
    section.actualites article img
    {
      height:auto;
    }
      section.actualites div.border
    {
      height:auto;
    }
}

.actualites h2{
    margin-bottom:20px;
}
/*-----------------SECTION FOOTER--------------------*/

 section.slider
{
    display:none;
}

@media (min-width: 992px) {
 section.slider
{
    display:block;
    width:100%;
}
}
/*-----------------SECTION PARTENAIRES--------------------*/
.partenaires nav li.sponsor-item {
    width: 200px;
    height: 200px;
    overflow: hidden;
    list-style-type: none;
    border-radius: 100%;
    display: inline-block;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    padding: 0;
    margin-right: 20px;
}

.partenaires nav li.sponsor-item:last-of-type {
    margin-right: 0px;
}

.partenaires nav ul li img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

/*-----------------SECTION S ADRESSER A NOUS NEWSLETTER--------------------*/

.adresser_nous  {
    padding-right: 0;
}

.adresser_nous ul li {
    list-style-type: none;    
}

.adresser_nous a, .adresser_nous a:hover, .newsletter a, .newsletter a:hover {
    color: black!important;
    display: inline-block;
    text-decoration: none;
    background-color: #EEE5D6;
    padding: 7px 15px;
    margin-bottom: 2%;
    border-radius: 3px;
}

/*-----------------------------------------------------------------------------------*/
/*-------------------------------------PARTICIPER------------------------------------*/
/*-----------------------------------------------------------------------------------*/
.mailpoet_form{
    margin-left: 0;
}
.mailpoet_paragraph{
    width:100%;   
}

input.mailpoet_submit, input.mailpoet_submit:hover {
    color: black!important;
    text-decoration: none;
    background-color: #EEE5D6;
    font-size: 16px;
    text-transform:inherit;
    box-shadow: none;
    line-height: inherit;
    height: auto;
    padding: 7px 15px;
    margin-bottom: 2%;
    border-radius: 3px;
}
/*-----------------------------------------------------------------------------------*/
/*-------------------------------------CONTACT---------------------------------------*/
/*-----------------------------------------------------------------------------------*/

form.wpcf7-form{
    margin: 0;
}

form.wpcf7-form p{
    width:100%;
    text-align: left;
}

input.wpcf7-submit{
    color: black!important;
    text-decoration: none;
    background-color: #EEE5D6;
    font-size: 16px;
    text-transform:inherit;
    box-shadow: none;
    line-height: inherit;
    height: auto;
    padding: 7px 15px;
    margin-bottom: 2%;
    border-radius: 3px;
    font-weight: normal;
}

/*-----------------------------------------------------------------------------------*/
/*-------------------------------------FOOTER----------------------------------------*/
/*-----------------------------------------------------------------------------------*/

#footerFixe{
    margin: auto;
}

footer{
    background-color: #9294C9;
    color: white;
    text-align: center;
    width: 100%;
}
footer section{
    margin : 2% 0;
}

footer section li{
    list-style-type: none;
}


footer .menu_footer a{
    color: white;
    text-decoration: none;
}

footer .menu_footer a:hover {
    color: white!important;
    text-decoration: none;
}

footer section:nth-of-type(2) h3{
    text-transform: inherit;
}

footer section:nth-of-type(2) {
    border-top: 2px solid black;   
}

footer section:nth-of-type(2) ul li{
    display: inline-block;
}

footer section:nth-of-type(2) ul li img{
    overflow:hidden;
    -webkit-border-radius:100%;
    -moz-border-radius:100%;
    border-radius:100%;
}


@media (min-width: 992px) {
    footer section{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    footer section:nth-of-type(1)>ul:nth-of-type(1) li {
        border-right: 2px solid black;  
    }
    .menu_footer li{
        border: none;
    }
    
     footer .menu_footer li {
        margin-top : 2%;
    }
    
    footer section:nth-of-type(2) {
        border-left: 2px solid black;  
        border-top: none;
    }
    
    footer section:nth-of-type(2) h3{
        margin-top:0;
    }

}

.post-content img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius:4px;
}

/*-----------------------------------------------------------------------------------*/
/*-------------------------------------Classes animation-----------------------------*/
/*-----------------------------------------------------------------------------------*/
.zoom_titre
{
    border:0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   

}
.zoom_titre:hover
{
    box-shadow: 0px 0px 15px;
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.2);
}

.zoom_cadre{
    border:0;
    position: relative;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}

.zoom_cadre:hover
{
    z-index: 2;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.2);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.2);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.2);
    transition: all 200ms ease-in;
    transform: scale(1.1);
}